<nav
  id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-light headroom navbar-fixed-top"
  style="background-color: #2ecc71"
>
  <div class="container">
    <a class="navbar-brand mr-lg-5" href="/browse">
      <img src="/logo.png" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar_global"
      aria-controls="navbar_global"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="/"> </a>
          </div>
          <div class="col-6 collapse-close">
            <button
              type="button"
              class="navbar-toggler"
              data-toggle="collapse"
              data-target="#navbar_global"
              aria-controls="navbar_global"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>

      <div class="navbar-nav navbar-nav-hover align-items-right">
        <!--Login Bar-->
        <!-- <div class="form-text">
          <input type="text" placeholder="Username" class="form-control" />
        </div>

        <div class="form-text">
          <input type="password" placeholder="Password" class="form-control" />
        </div> -->

      </div>
      <div class="navbar-right navbar-right ">
        <h5>Welcome, user</h5>
      </div> 
      <div>
      <li class="nav-item d-none d-lg-block ml-lg-4">
        <a href="./login.html" target="_blank" class="icon-link">
          <i class="fa fa-user" aria-hidden="true"></i>
        </a>
      </li>
    </div>
  </div>
</nav>